<% layout('/layouts/boilerplate')%>
  <a href="/teams/<%= bug.team._id %>" class="btn btn-dark"><- Go back</a> <hr>
  <div class="card mb-3">
    <div class="carousel-inner ">

      <% if (bug.images.length < 1 ) {%>
        <div class="carousel-item  active bg-dark">
          <img src="https://wallpaper.dog/large/206978.jpg" style="max-height: 500px;" class="d-block mx-auto"
            alt="...">
        </div>
        <%} %>
          <% bug.images.forEach((img, i)=> {%>
            <div class="carousel-item  <%= i===0 ? 'active':''%>">
              <img src="<%= img.url %>" class="d-block w-100" alt="...">
            </div>
            <%}) %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
  <div class="card-body">
    <h3 class="card-title">
      <%= bug.title.toUpperCase() %>
    </h3>
    <p class="card-text">
      <%= bug.description %>
    </p>
    <p class="card-text">
      <small class="text-muted">Submitted: <%= bug.createdAt %></small>
    </p>
  </div>
  <hr>
  <div class="row">
    <div class="col-6  mb-3">
      <div class="card mb-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item ">priority: <%= bug.priority %>
          </li>
          <li class="list-group-item ">Reported by:
            <span style="font-weight: bold;">
              <%= bug.finder.username %>
            </span>
          </li>
          <li class="list-group-item ">Deadline: <%= bug.deadline %>
          </li>
          <li class="list-group-item ">Current Status:
            <span style="font-weight: bold;">
              <%= bug.status %>
            </span>
          </li>
        </ul>
        <div class="card-body">
          <h5 class="card-title">Assigned to:</h5>
          <hr>
          <ul class="list-group list-group-flush">
            <% for(let user of bug.assignee) { %>
              <li class="list-group-item ">
                <%= user.username %>
              </li>
              <% } %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-6  mb-3">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Requests:</h5>
          <hr>
          <ul class="list-group list-group-flush">
            <% for(let user of bug.requests) { %>
              <li class="list-group-item ">
                <%= user.username %>
              </li>
              <% } %>
          </ul>
        </div>
        <hr>
        <div class="container">
          <h4>
            Assign</h4>
          <form action="/teams/<%= bug.team._id %>/bugs/<%= bug._id%>/assign" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">username</label>
              <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder="username" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <hr>
        <div class="container">
          <h4>
            Change Status</h4>
          <form action="/teams/<%= bug.team._id %>/bugs/<%= bug._id%>/request" method="POST">
            <div class="mb-3">
              <select class="form-select" id="Priority" name="status" aria-label="Default select example">
                <option value="open" selected>open</option>
                <option value="assigned">assigned</option>
                <option value="closed">closed</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Change</button>
          </form>
        </div>
        <hr>
        <div class="card-body">
          <a class="card-link btn btn-dark" href="/teams/<%= bug.team._id %>/bugs/<%= bug._id %>/discussions">View Discussions</a>
            <a class="card-link btn btn-warning" href="/teams/<%= bug.team._id %>/bugs/<%= bug._id %>/edit">Edit</a>
            <form class=" d-inline" action="/teams/<%= bug.team._id %>/bugs/<%= bug._id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button></form>
            <form class=" d-inline" action="/teams/<%= bug.team._id %>/bugs/<%= bug._id%>/request" method="POST"><button
                class="btn btn-primary">Request</button></form>
          </div>
      </div>
    </div>
  </div>
  </div>