<% layout('layouts/boilerplate')%>

<h1><%=team.name %></h1>
<hr />
<h6><%= team.description %></h6>
<hr />
<h4>Members</h4>
<% for(let user of team.members) { %>
<span class="badge badge-pill <%=(user.role==="Expert") ?
 'bg-danger':(user.role==="Intermediate") ?  
 'bg-info': 'bg-dark' %> success"
  ><%= user.user.username %></span
>
<% } %>
<br>
<a href="#"
    class="link-primary text-decoration-none"
    data-toggle="modal" data-target="#exampleModalCenter">
    Add a new Member
    </a>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add a new member</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/teams/<%= team._id %>/members" method="POST" class='validated-form' novalidate>
                    <div class="form-group">
                      <label for="username">username</label>
                      <input
                        name="username"
                        type="text"
                        class="form-control"
                        id="username"
                        placeholder="username"
                      />
                    </div>
                    <div class="form-group">
                        <label for="role">role</label>
                        <select
          class="form-select"
          id="role"
          name="role"
          aria-label="Default select example"
        >
          <option value="Beginner" selected>Beginner</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Expert">Expert</option>
        </select>
                      </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary">
                    Submit
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
            </div>
          </form>
          </div>
        </div>
      </div>
<hr>
<h2>Reported Bugs</h2>
<hr />
<div class="container d-flex flex-wrap">
  <% for (let bug of team.bugs) {%>
  <div class="card border-dark mb-3 mx-2" style="max-width: 18rem">
    <div class="card-header">
      <a
        style="text-decoration: none; color: black; font-weight: bold"
        href="/teams/<%= bug.team %>/bugs/<%= bug._id %>"
        ><%= bug.title %></a
      >
    </div>
    <div class="card-body text-dark">
      <p class="card-text" style="min-width: 250px;">
        <%= (bug.description.length > 100) ?
        bug.description.substr(0, 99) + '&hellip;' :
        bug.description %>
    </p>
    </div>
  </div>
  <%} %>
</div>

<hr>
<div class="container mb-5">
    <a class="card-link btn btn-warning" href="/teams/<%= team._id %>/edit">edit</a>
    <form class=" d-inline" action="/teams/<%= team._id %>?_method=DELETE" method="POST"><button class="btn btn-danger">Delete</button></form>
</div>
